<mat-toolbar>
  <span>Категории</span>
  <span class="fill-space"></span>
  <button mat-button class="mat-button mat-raised-button pull-right" (click)="create()">
    Добавить
  </button>
</mat-toolbar>

<div class="container mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource$ | dataSource" matSort>
    <ng-container matColumnDef="_id">
      <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
      <mat-cell *matCellDef="let c">{{ c._id }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Название </mat-header-cell>
      <mat-cell *matCellDef="let c">{{ c.name }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef> Описание </mat-header-cell>
      <mat-cell *matCellDef="let c">{{ c.description }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="buttons">
      <mat-header-cell *matHeaderCellDef class="mat-column-buttons"></mat-header-cell>
      <mat-cell *matCellDef="let c" (click)="$event.stopPropagation()">
        <button mat-button (click)="delete(c)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" (click)="edit(row)"></mat-row>
  </table>
</div>
